#ml-header {
    margin: 0.5rem 8rem;
}

#ml-container {
    margin: 0 8rem;
}

#ml-body {
    padding: 1rem 0;
}

@media screen and (min-width: 1200px) {
    #ml-body {
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
    }

    #ml-side {
        position: absolute;
        right: 0;
        top: 0;
        width: 18%;
    }
}

@media screen and (max-width: 1199px) {
    #ml-body {
        width: 100%;
    }

    #ml-side {
        width: 100%;
    }
}
