* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #f5f5d5;
}

html, body {
    height: 100%;
}

#ml-header > a {
    display: inline-block;
}

#ml-header > a {
    padding: 0.5rem 1.5rem;
}

#ml-header {
    margin-top: 2rem;
    border-bottom: 1px solid #d3d3d3;
}

#ml-header > a:not(:last-child) {
    border-right: 1px solid #d3d3d3;
}

#ml-header > a > span {
    margin: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

#ml-container {
    position: relative;
    margin: 0 2%;
}

#ml-body {
    width: 100%;
    padding: 2rem 0;
}

/*Markdown样式*/
#ml-body h1, h2, h3, h4, h5, h6 {
    font-size: 3rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#ml-body ul {
    font-size: 3rem;
    list-style: none;
    margin: 1rem;
}

#ml-body pre {
    font-size: 3rem;
    padding: 1rem;
}

#ml-body ol {
    font-size: 3rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#ml-body h1, h2 {
    padding-bottom: 1rem;
}

#ml-body p {
    font-size: 2.5rem;
    padding: 2rem 1.5rem;
}

/*Markdown样式*/

#ml-side {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

#ml-side ul, li {
    list-style: none;
}

#ml-side > h3 {
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
    padding: 2rem 2rem;
    border: 1px solid #d3d3d3;
    border-radius: 1rem;
}

.ml-list {
    font-size: 2rem;
    padding: 2rem 2rem;
    margin-top: 1rem;
    text-align: center;
    border: 1px solid #d3d3d3;
    border-radius: 1rem;
}

.ml-list:hover {
    background: rgba(0, 0, 0, 0.1);
}

.ml-list-body {
    font-size: 2rem;
    display: none;
    text-align: center;
    padding: 2rem 2rem;
    border-bottom: 1px solid #d3d3d3;
}

.ml-list-body-show {
    cursor: pointer;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.1);
}

.ml-body-link {
    font-size: 3rem;
    padding: 3rem 2rem;
    border: 1px solid #d3d3d3;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
