* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background: #8360c3;
    background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);
    background: linear-gradient(to left, #2ebf91, #8360c3);
}

#ml-container {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
}

#ml-title, #ml-blog, #ml-open, #ml-cn-blog {
    padding: 6rem 0;
    text-align: center;
}

#ml-title, #ml-blog, #ml-open {
    border-bottom: 1px solid white;
}

#ml-blog, #ml-open, #ml-cn-blog {
    background: rgba(0, 0, 0, 0.2);
}

#ml-title, #ml-blog > span, #ml-open > span, #ml-cn-blog > span {
    font-size: 3rem;
    color: white;
    text-align: center;
}

#ml-blog:hover, #ml-open:hover, #ml-cn-blog:hover {
    background: rgba(0, 0, 0, 0.1);
}

#ml-cn-blog {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
