* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background: #8360c3;
    background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);
    background: linear-gradient(to left, #2ebf91, #8360c3);
}

#ml-container {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
    #ml-container {
        width: 90%;
    }
}

#ml-title, #ml-blog, #ml-open {
    padding: 1.5rem 0;
    text-align: center;
}

#ml-title, #ml-blog, #ml-open {
    border-bottom: 0.1rem solid white;
}

#ml-blog, #ml-open {
    background: rgba(0, 0, 0, 0.2);
}

#ml-title, #ml-blog, #ml-open {
    color: white;
    text-align: center;
}

#ml-blog:hover, #ml-open:hover {
    background: rgba(0, 0, 0, 0.1);
}

#chat-container {
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
}

#chat-box {
    height: 15rem;
    overflow-y: scroll;
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color: white;
}

#chat-input {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color: white;
    outline: none;
}

#chat-input:hover,
#chat-input:focus {
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
}

#chat-button {
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    cursor: pointer;
}

#chat-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#language {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    cursor: pointer;
}

#language:hover {
    background: rgba(0, 0, 0, 0.1);
}
